
body {
    margin: 0;
}

h1, h2, h3, h4, a, footer {
    font-family: 'Commissioner', sans-serif;
    color: black;
}

.nav-bar {
    align-items: center;
    background: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

@media screen and (max-width: 700px) {
    .nav-bar {
        flex-direction: column-reverse;
    }

    #products-content {
        flex-direction: column;
    }
}

.nav-links {
    font-size: 1.2em; 
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
}

.nav-links:hover {
    color: #c927cf;
}

#front-page-image {
    border-radius: 15px;
    height: auto;
    width: 40%;
}

#front-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.page-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    justify-content: center;
    margin-top: 50px;
}

#products-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;   
}

.products-tile {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    animation: appear 0.9s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
        margin-right: 500px;
    }
    to {
        opacity: 100%;
        margin-right: 0;
    }
}

.product-image {
    border-radius: 15px;
    width: 300px;
    transition: 0.1s;
}

.product-image:hover {
    transform: scale(1.05,1.05); 
}

#product-text {
    margin-top: 25px;
}
