
body {
    margin: 0;
}

h1, h2, h3, h4, a, footer, label, input, textarea {
    font-family: 'Commissioner', sans-serif;
    color: black;
}

.nav-bar {
    align-items: center;
    background: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

/* On screens that at 700px wide or less... */
@media screen and (max-width: 700px) {
    .nav-bar {
        flex-direction: column-reverse;
    }

    #products-content {
        flex-direction: column;
    }
}

.nav-links {
    font-size: 1.2em; 
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
}

.nav-links:hover {
    color: #c927cf;
}

#front-page-image {
    border-radius: 15px;
    height: auto;
    width: 40%;
}

#front-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.page-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    justify-content: center;
    margin-top: 25px;
}

#products-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;   
}

.products-tile {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* animation: appear 0.9s ease-in-out; */
}

.product-image {
    border-radius: 15px;
    width: 300px;
    transition: 0.1s;
}

.product-image:hover {
    transform: scale(1.05,1.05); 
}

#product-text {
    margin-top: 25px;
}

#choc-cake {
    animation: choc 0.5s ease-in-out;
}

#lemon-cake {
    animation: lemon 0.5s ease-in-out 0.1s;
}

#vanilla-cupcakes {
    animation: vanilla 0.5s ease-in-out 0.2s;
}

@keyframes choc {
    from {
        opacity: 0;
        transform: translateX(1000px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes lemon {
    from {
        opacity: 0;
        transform: translateX(800px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes vanilla {
    from {
        opacity: 0;
        transform: translateX(700px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

.company-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
}

#company-image {
    border-radius: 10px;
    width: 500px;
    transition: 0.1s;
}

#company-text {
    width: 40%;
    text-align: justify;
}

#contact-page {
    text-align: center;
}

#contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

#contact-form {
    width: 28%; 
    padding: 14px;
    margin-right: 22px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#contact-image {
    border-radius: 5px;
    width: 450px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    font-size: 1.1em;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
}

input[type=submit]:hover {
    background-color: #45a049;
}
